Manuel Pichler <mapi@manuel-pichler.de> <github@manuel-pichler.de>
Stefan Zerkalica <zerkalica@gmail.com>
Daniel Mason <daniel@danielmason.com> <daniel.mason@thefoundry.co.uk>
Ilia Shakitko <shakitko@gmail.com> <i.shakitko@leaseweb.com>
