language: php

matrix:
  include:
    - php: 5.4
      env: DEPENDENCIES=low
    - php: 5.5
    - php: 5.6
    - php: 7.0
    - php: 7.1
    - php: 7.3
      env: website=true
  fast_finish: true

sudo: false

env:
    global:
        TEST_CONFIG="phpunit.xml.dist"

before_script:
  - composer self-update
  - if [[ $DEPENDENCIES = low ]]; then composer update --prefer-dist --prefer-lowest --prefer-stable; fi
  - if [[ ! $DEPENDENCIES ]]; then composer install; fi

script:
  - if [[ $website  = 'true' ]]; then php bin/build-website.php; fi
  - if [[ $website != 'true' && $TRAVIS_PHP_VERSION != 7.1 ]]; then vendor/phpunit/phpunit/phpunit --configuration $TEST_CONFIG; fi
  - if [[ $website != 'true' && $TRAVIS_PHP_VERSION  = 7.1 ]]; then vendor/phpunit/phpunit/phpunit --configuration $TEST_CONFIG --colors --coverage-text; fi

notifications:
  irc: "irc.freenode.org#phpmd"

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  local_dir: dist/website
  on:
    branch: master
    condition: $website
