{
    "base-path": "build/phar",
    "output": "../phpmd.phar",
    "compression": "GZ",
    "directories": ["src/bin", "src/main", "vendor"],
    "banner": [
        "This file is part of phpmd."
    ]
}
