parameters:
    paths:
        - src/
        - tests/php/
    rememberPossiblyImpureFunctionValues: false
    level: 9
    exceptions:
        reportUncheckedExceptionDeadCatch: true
        implicitThrows: false
        check:
            missingCheckedExceptionInThrows: true
            tooWideThrowType: true
    ignoreErrors:
        -
            identifier: missingType.checkedException
            path: tests/*
