<?xml version="1.0"?>
<phpunit>
    <testsuites>
		<testsuite name="PHP_PMD_AllTests">
			<directory suffix="Test.php">src/test/php</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src/main/php</directory>
        </whitelist>
    </filter>
</phpunit>
