<?xml version="1.0"?>
<phpunit bootstrap="src/test/php/bootstrap.php">
    <testsuites>
        <testsuite name="PHPMD AllTests">
            <directory suffix="Test.php">src/test/php</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src/main/php</directory>
        </whitelist>
    </filter>
</phpunit>
