<?xml version="1.0"?>
<symfony:container xmlns:symfony="http://symfony.com/schema/dic/services"
                   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                   xmlns="http://pdepend.org/schema/dic/pdepend"
                   xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd
                                       http://pdepend.org/schema/dic/pdepend http://pdepend.org/schema/1.0/configuration.xsd">
    <config>
        <image-convert>
            <font-family>Arial</font-family>
            <font-size>12</font-size>
        </image-convert>

        <cache>
            <driver>memory</driver>
        </cache>
    </config>

</symfony:container>
