@charset "UTF-8";

* {
    border: 0;
    padding: 0;
    margin: 0;

    text-decoration: none;

    list-style: none outside none;
}

html {
    background-color: #fff;

    font-size: 99.4%;
}

body {
    background-color: #fff;
    font-size: 1.1em;
    line-height: 1.4em;
    font-family: Arial, Verdana, Helvetica, Geneva, sans-serif;
    color: #2e3436;

    margin: 0 auto;
    width: 55em;
}

h1, h2, h3, h4 {
    font-family: Verdana, Arial, Helvetica, Geneva, sans-serif;
}

h1 {
    background: #fff url(../images/logo.png) 1em 40px no-repeat;

    border-bottom: 1px solid #204a87;

    text-indent: -9999px;

    margin: 0;
    height: 150px;
}

h1 a {
    display: block;

    margin-left: 1em;

    height: 120px;
    width: 250px;
}

h2 {
    font-size: 1.5em;
    font-weight: normal;
    color: #204a87;

    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

h3 {
    font-size: 1.3em;
    font-weight: normal;
    font-style: italic;
    color: #555753;

    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

a {
    color: #204a87;
}

p {
    text-align: justify;
    margin-bottom: 1.0em;
}

blockquote p {
    font-weight: 0.8em;
    font-style: italic;

    padding-left: 2em;
}

code {
    font-size: 1.1em;
    line-height: 1.4em;

    white-space: pre;

    margin-bottom: 1.0em;
}

code.block {
    background: #eeeeec;

    font-size: 1.05em;

    padding: 0.2em 0.5em;
    display: block;
}

code.inline {
    font-style: italic;
}

table {
    border-collapse: separate;

    width: 100%;

    margin-bottom: 0.3em;
}

table td, table th {
    font-size: 0.9em;
    padding-left: 0.3em;
    padding-right: 1em;
}

table th {
    background-color: #babdb6;

    text-align: left;
    color: #fff;

    white-space: nowrap;
}

table td {
    background-color: #eeeeec;
}

#content {
    padding-left: 2em;

    float: left;
    width: 37em;
}

#content a {
    text-decoration: underline;
}

#content ul, #content ol {
    margin-left: 2em;
    margin-bottom: 1.2em;
}

#content li p {
    margin-bottom: 0.5em;
}

#content ul li {
    list-style: circle;
}

#content ol li {
    list-style: decimal;
}

#navigation {
    margin-left: 3em;

    float: left;
}

#navigation a {
    font-style: italic;
}

#navigation a:hover {
    text-decoration: underline;
}

#navigation h2 {
    color: #555753;
}

#navigation ul ul {
    padding-left: 1em;
}

#footer {
    border-top: 1px solid #204a87;
    font-size: 0.8em;

    padding-left: 2.6em;
    margin-bottom: 1em;

    clear: both;
}

#footer .revision {
    cursor: help;
    display: inline;
    position: relative;
}

#footer .revision ul {
    display: none;
}

#footer .revision:hover ul {
    display: block;

    position: absolute;
    left: -300px;
    bottom: 25px;
    width: 400px;

    list-style-type: circle;
    margin: 0;
    padding: 2px 2px 2px 15px;

    border: 1px solid #555753;
    font-size: 0.8em;

    background-color: #fff;
}

#footer .revision ul li {
    margin: 1px 0;
    padding: 0;
}

#footer .revision ul li p {
    margin: 1px 0;
    padding: 0;
}

#footer .follow {
    padding-right: 1em;
    float: right;
}

.twitter-follow {
    background-color: #1b95e0;
    height: 22px;
    display: inline-block;
    border-radius: 3px;
    padding: 0px 8px 1px 6px;
    color: #fff;
    box-sizing: border-box;
    /*font-weight: 500;*/
    font-style: normal;
    font-size: 0.8em;
    text-decoration: none;
}

.twitter-follow > i {
    position: relative;
    top: 2px;
    display: inline-block;
    width: 14px;
    height: 14px;
    background: transparent 0 0 no-repeat;
    background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2072%2072%22%3E%3Cpath%20fill%3D%22none%22%20d%3D%22M0%200h72v72H0z%22%2F%3E%3Cpath%20class%3D%22icon%22%20fill%3D%22%23fff%22%20d%3D%22M68.812%2015.14c-2.348%201.04-4.87%201.744-7.52%202.06%202.704-1.62%204.78-4.186%205.757-7.243-2.53%201.5-5.33%202.592-8.314%203.176C56.35%2010.59%2052.948%209%2049.182%209c-7.23%200-13.092%205.86-13.092%2013.093%200%201.026.118%202.02.338%202.98C25.543%2024.527%2015.9%2019.318%209.44%2011.396c-1.125%201.936-1.77%204.184-1.77%206.58%200%204.543%202.312%208.552%205.824%2010.9-2.146-.07-4.165-.658-5.93-1.64-.002.056-.002.11-.002.163%200%206.345%204.513%2011.638%2010.504%2012.84-1.1.298-2.256.457-3.45.457-.845%200-1.666-.078-2.464-.23%201.667%205.2%206.5%208.985%2012.23%209.09-4.482%203.51-10.13%205.605-16.26%205.605-1.055%200-2.096-.06-3.122-.184%205.794%203.717%2012.676%205.882%2020.067%205.882%2024.083%200%2037.25-19.95%2037.25-37.25%200-.565-.013-1.133-.038-1.693%202.558-1.847%204.778-4.15%206.532-6.774z%22%2F%3E%3C%2Fsvg%3E);
}

#formats {
    text-align: right;
    color: #babdb6;

    position: absolute;
    top: 128px;

    width: 55em;
}

#formats a {
    font-size: 0.5em;
    color: #babdb6;
}
