name: Coverage

on:
  push:
    branches: [ 'master', '2.x', '3.x' ]
  pull_request:
    branches: [ '*' ]

jobs:
  php-tests:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    env:
      COMPOSER_NO_INTERACTION: 1

    strategy:
      matrix:
        php: ['8.3']
        setup: ['stable']

    name: PHP ${{ matrix.php }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          tools: composer:v2
          coverage: xdebug

      - name: Cache Composer packages
        id: composer-cache
        uses: actions/cache@v4
        with:
          path: vendor
          key: ${{ runner.os }}-coverage-${{ matrix.php }}-${{ matrix.setup }}-${{ hashFiles('composer.json') }}

      - name: Install dependencies
        if: steps.composer-cache.outputs.cache-hit != 'true'
        run: |
          composer require scrutinizer/ocular --no-update --no-interaction
          composer update --prefer-dist --no-progress --prefer-${{ matrix.setup }}

      - name: Dump Composer autoload
        if: steps.composer-cache.outputs.cache-hit == 'true'
        run: composer dump-autoload

      - name: Execute Unit Tests
        run: vendor/bin/paratest --coverage-text --coverage-clover=coverage.xml
        env:
          XDEBUG_MODE: coverage

      - name: Archive code coverage results
        uses: codecov/codecov-action@v4
        with:
          files: ./coverage.xml
          disable_search: true
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Upload Code Coverage To Scrutinizer
        run: vendor/bin/ocular code-coverage:upload --format=php-clover coverage.xml
