name: Symfony

# Ensure tests pass whatever is the major version of Symfony installed
# along with the library
# Guarantee to users that it can be installed and ran with no conflict
# in a composer project that also include Symfony dependencies

on:
  push:
    branches: [ '**' ]
  pull_request:
    branches: [ '**' ]

jobs:
  tests:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    env:
      COMPOSER_NO_INTERACTION: 1

    strategy:
      fail-fast: false
      matrix:
        php: [ 8.3 ]
        symfony: [ 5, 6, 7 ]

    name: Symfony ${{ matrix.symfony }}

    steps:
      - uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: json, imagick
          tools: composer:v2
          coverage: none

      - name: Cache Composer packages
        id: composer-cache
        uses: actions/cache@v3
        with:
          path: vendor
          key: ${{ runner.os }}-php-${{ matrix.php }}-symfony-${{ matrix.symfony }}-${{ hashFiles('**/composer.json') }}
          restore-keys: ${{ runner.os }}-php-${{ matrix.php }}-symfony-${{ matrix.symfony }}-

      - name: Set Symfony version
        run: |
          composer require  --no-update --no-interaction \
            symfony/dependency-injection:^${{ matrix.symfony }} \
            symfony/filesystem:^${{ matrix.symfony }} \
            symfony/config:^${{ matrix.symfony }}

      - name: Install dependencies
        if: steps.composer-cache.outputs.cache-hit != 'true'
        run: composer update --prefer-dist --no-progress --prefer-stable --ignore-platform-req=php+

      - name: Run test suite
        run: vendor/bin/phpunit --display-deprecations || vendor/bin/phpunit
